/*フォント、文字サイズ、中央ぞろえ*/
:root {
  --primary-deep: #4e7682;
  --primary-light: #eaf7fb;
  --theme-color: #8daeb8;
  --scratch-orange: #ffab19;
  --turbowarp-red: #ff4d4d;
  --white: #ffffff;
  --black: #333333;
  --gray: #a7a7a7;
  --h1-size: 30px;
  --h2-size: 25px;
  --h3-size: 20px;
  --normal-size: 17px;
  --big-size: 33px;
  --small-size: 14px;
}

* {
  margin: 0px;
  font-size: var(--normal-size);
  line-height: 1.7em;
  
  box-sizing: border-box;
}

h1, h2, h3, .block-link {
  line-height: 1.5em;
}

:where(:is(.wrapper, body)>*:not(#footer)) {
  margin-bottom: 20px;
}

a:focus-visible {
  outline: dashed 2px var(--primary-deep);
  border-radius: 3px;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP";
  background-color: var(--white);
  -webkit-text-size-adjust: 100%;
  color: var(--black);
}

h1 {
  font-size: var(--h1-size);
  font-weight: bold;
}

h1:not(.page-title-text) {
  padding-left: 10px;
  border-left: double 9px var(--primary-deep);
}

h2 {
  font-size: var(--h2-size);
  font-weight: bold;
  border-bottom: solid 1.5px var(--primary-deep);
}

h3 {
  font-size: var(--h3-size);
  font-weight: bold;
  border-bottom: dashed 1.5px var(--primary-deep);
}

div, header, footer {
  box-sizing: border-box;
}

ul {
  list-style: none;
  font-size: 0;
}

ul.dot {
  list-style: "・";
}

ul * {
  font-size: var(--normal-size);
}

p, a {
  font-size: var(--normal-size);
}

a {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
}

dt::before {
  content: "【";
}

dt::after {
  content: "】";
}

rt {
  font-size: 12px;
  text-align: center;
  transform: translateY(-5px);
}

/*ボタン系リンク土台*/
.block-link {
  color: var(--black);
}

/*テキストリンク*/
a:not(.block-link) {
  color: var(--primary-deep);
  word-break: break-all;
}

a:not(.block-link):hover {
  color: var(--black);
}

time {
  font-size: var(--normal-size);
  display: inline-block;
  font-weight: normal;
  color: var(--gray);
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 0 20px;
  width: min(100%, 35em);
}

/*文字装飾系*/
.big {
  font-size: var(--big-size);
}

.small {
  font-size: var(--small-size);
}

.normal {
  font-size: var(--normal-size);
}

.delete {
  text-decoration: line-through;
}

.bold {
  font-weight: bold;
}

.h1-size {
  font-size: var(--h1-size);
}

.h2-size {
  font-size: var(--h2-size);
}

.h3-size {
  font-size: var(--h3-size);
}

.light {
  color: var(--gray);
}

/*ヘッダー*/
header {
  display: flex;
  width: 100%;
  text-align: center;
  background-color: var(--primary-light);
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-list {
  padding: 0px;
  display: flex;
}

.nav-list-item a {
  padding: 4px 7px;
  color: var(--primary-deep);
  margin: 0 10px;
  border-radius: 10px;
  border: solid 1.5px var(--primary-deep);
  transition: background-color 0.3s, color 0.3s;
}

.nav-list-item a:hover {
  background-color: var(--primary-deep);
  color: var(--white);
}

.page-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-title-text {
  margin-left: 10px;
}

/*フッター*/
footer {
  width: 100%;
  text-align: center;
  background-color: var(--primary-light);
  padding: 20px;
}

/*反転した時の文字色*/
::selection {
  background: var(--theme-color);
  color: var(--white);
}

/*プロジェクト一覧用*/
#projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.project {
  width: 100%;
  box-shadow: 0 0 5px var(--primary-deep);
  border-radius: 10px;
  transition: box-shadow 0.3s;
  position: relative;
  overflow: hidden;
}

.project:hover {
  box-shadow: 0 0 15px var(--primary-deep);
}

.project img {
  width: 100%;
}

.project span {
  display: block;
  position: absolute;
  user-select: none;
  line-height: 2.5em;
  bottom: -2.5em;
  transition: bottom 0.3s;
  width: 100%;
  text-align: right;
  box-sizing: border-box;
  padding: 0px 15px;
  background: #00000040;
  color: var(--white);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.project:hover span {
  bottom: 0px;
}

/*トップページ版プロジェクト一覧用*/
.works {
  display: flex;
  overflow: hidden;
  padding: 15px;
  background-color: var(--primary-light);
  border-radius: 10px;
  margin: 0;
}

.works #projects {
  display: flex;
  animation: slideshow 10s infinite;
}

.works .project {
  width: min(50vw, 200px);
}

@keyframes slideshow {
  0% {
    margin-left: 0px;
  }

  80% {
    margin-left: -330px;
  }

  100% {
    margin-left: 0px;
  }
}

a.seemore {
  display: block;
  width: fit-content;
  margin: 0 0 0 auto;
}

/*プロジェクトページ用*/
.iframe-wrapper {
  --ratio:
    calc(240 / 180);
  --width:
    min(95vw, calc(93vh * var(--ratio)));
  --height:
    calc(min(calc(95vw / var(--ratio)), 93vh) + 44px);
  width: var(--width);
  height: var(--height);
  max-width: 800px;
  max-height: calc(800px / var(--ratio) + 44px);
  margin: 0 auto 20px auto;
  user-select: none;
}

iframe {
  border: 0;
  width: 100%;
  height: 100%;
}

.caption {
  width: 100%;
  background-color: var(--primary-light);
  border: solid 2px var(--primary-deep);
  padding: 20px;
  border-radius: 10px;
}

.caption h1 {
  border: 0;
  padding: 0;
}

.caption p {
  white-space: pre-wrap;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 10px;
  width: 100%;
}

/*text-box*体裁*/
.text-box {
  background: var(--primary-light);
  border: solid 2px var(--primary-deep);
  padding: 10px;
  border-radius: 10px;
}

/*diary-box体裁*/
.diary-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 0 0 5px var(--primary-deep);
  border-radius: 10px;
  padding: 30px;
  transition: box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
  margin-bottom: 20px;
}

.diary-box:hover {
  box-shadow: 0 0 15px var(--primary-deep);
  background-color: var(--primary-light);
}

.diary-box time {
  display: block;
  width: 90px;
  width: fit-content;
  margin: auto;
  white-space: nowrap;
}

@media screen and (max-width: 500px) {
  .diary-box time {
    display: none;
  }
}

.diary-box h1 {
  color: var(--black);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1 200px;
}

.diary-boxes a {
  display: block;
}

/*日記ページ用*/
.diary-figure {
  border-radius: 10px;
  border: solid 3px var(--primary-deep);
}

/*トップ画像アニメーション*/
.top-image {
  width: 35em;
  max-width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.top-image svg {
  stroke: var(--black);
  stroke-dasharray: 1000 1000;
  stroke-dashoffset: -800;
  animation: appear 3s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    stroke-dashoffset: -800;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

/*汎用ボタン体裁*/
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0px #00000020;
  transition: box-shadow cubic-bezier(0.47, 0.63, 0.31, 2.27) .3s;
  color: var(--white);
  padding: 15px;
  margin: 0;
  background-color: var(--primary-deep);
  cursor: pointer;
  user-select: none;
}

.button:hover {
  box-shadow: inset 0 0 0 5px #00000020;
}

.button[href*="scratch.mit.edu"] {
  background-color: var(--scratch-orange);
}

.button[href*="turbowarp.org"] {
  background-color: var(--turbowarp-red);
}

/*汎用input体裁*/
input, select {
  font-family: 'Noto Sans JP';
  color: var(--black);
}

:where(input[type="text"]) {
  padding: 10px;
  border: solid 2px var(--primary-deep);
  border-radius: 10px;
}

/*カクカクアニメーション*/
.kakukaku {
  display: inline-block;
  animation: kakukaku 1s infinite steps(2);
}

@keyframes kakukaku {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(50px, 0px);
  }
}

/*作成途中のモノ*/
.test {
  display: none;
}
